<h1>New Map File</h1>

<%= simple_form_for @floor_map, :url => maps_building_floor_maps_path(@floor_map.building), :html => { } do |f| %>
  <%= render :partial => 'form', :locals => { f: f } %>
<% end %>