<h2>Your RefWorks password has been reset</h2>

<p>The password for your RefWorks account with the login name of <strong><%= @refworks_password_reset.user.login %></strong> has been reset to: <strong><%= @new_password %></strong></p>

<p>You may now use the new password to log into <%= link_to("RefWorks", "http://eresources.library.nd.edu/databases/refworks") %>.</p>