<% refworks_header %>

<h2>Your RefWorks password has been reset</h2>

<div class="row">
  <div class="span2 text-right">
    Login:
  </div>
  <div class="span3">
    <%= @refworks_password_reset.user.login %>
  </div>
</div>
<div class="row">
  <div class="span2 text-right">
    Password:
  </div>
  <div class="span3">
    <strong><%= @new_password %></strong>
  </div>
</div>
<br>
<p>You can use your new password to <%= link_to("log into RefWorks", "http://eresources.library.nd.edu/databases/refworks") %>.  Once you have logged in, you may change your password by clicking the "Update Profile" link and entering your desired password into the fields provided.</p>

<%= refworks_help %>