<% refworks_header %>

<h2>Your request has expired</h2>

<p>RefWorks password reset requests may only be used once and expire after 24 hours. If you still need to reset your password, you may <%= link_to "create another request", new_refworks_password_reset_path() %>.</p>

<%= refworks_help %>