<h2>Request a RefWorks Password Reset</h2>
<p>Enter the email address or login name for your account and we will send you instructions on how to reset your password.</p>

<%= simple_form_for @refworks_password_reset, :url => refworks_password_reset_path() do |f| %>
  <%= f.input :email_or_login, :as => :string, :label => "Email/Login Name: " %>
  <%= f.button :submit, :value => "Submit" %>
<% end %>