<% refworks_header %>

<h2>Error communicating with RefWorks</h2>

<p>A problem was encountered communicating with RefWorks. We have been notified about this issue and we will take a look at it shortly.</p>

<p><%= submit_tag("Retry your request", :onclick => "window.location.reload(true);") %></p>

<%= refworks_help %>