<% refworks_header %>
<h2>Check Your Email</h2>
<p>An email has been sent to you with instructions detailing how to reset your password.</p>
<%= development_only do %>
  <%= link_to("Reset Password", reset_refworks_password_reset_path(@refworks_password_reset.token)) %>
<% end %>

<%= refworks_help %>