<p>
Please take a moment to login and check that the hours are still correct for <%= @service_point.name %>.
</p>

<p>
Login
<a href="http://factotum.library.nd.edu<%= availability_service_point_hours_path(@service_point) %>">here</a>.
</p>

