<h1>Listing directory_unit_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @directory_unit_types.each do |directory_unit_type| %>
  <tr>
    <td><%= link_to 'Show', directory_unit_type %></td>
    <td><%= link_to 'Edit', edit_directory_unit_type_path(directory_unit_type) %></td>
    <td><%= link_to 'Destroy', directory_unit_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit type', new_directory_unit_type_path %>
