---
http_interactions:
- request:
    method: post
    uri: https://findtext.library.nd.edu/ndu_local?sfx.response_type=multi_obj_detailed_xml
    body:
      encoding: UTF-8
      string: |
        XML=<?xml version="1.0"?>
        <open-url>
          <object_description>
            <object_metadata_zone>
              <sid>ND_license_check</sid>
              <sfx.ignore_date_threshold>1</sfx.ignore_date_threshold>
              <genre>article</genre>
              <issn>0168-8278</issn>
              <volume/>
              <issue/>
              <year/>
            </object_metadata_zone>
          </object_description>
        </open-url>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>

        <openurl_result>
         <record>&lt;ctx_object_1&gt;&lt;perldata&gt;
         &lt;hash&gt;
          &lt;item key="rft.language"&gt;eng&lt;/item&gt;
          &lt;item key="@rft.stitle"&gt;
           &lt;array&gt;
            &lt;item key="0"&gt;J HEPATOL&lt;/item&gt;
            &lt;item key="1"&gt;J. HEPATOL&lt;/item&gt;
           &lt;/array&gt;
          &lt;/item&gt;
          &lt;item key="sfx.related_objects_relations"&gt;
           &lt;hash&gt;
            &lt;item key="954927621092"&gt;SUPPLEMENT&lt;/item&gt;
      [...]
