<div class="inner-right">
  <div id="gallery" style="position: relative; visibility: visible; background-color: rgb(245, 243, 226); overflow: hidden; width: 263px; height: 173px; background-position: initial initial; background-repeat: initial initial;">
    <div class="gallerylayer" style="position: absolute; left: 0px; top: 0px; z-index: 1000; opacity: 1;"><a href="http://www.library.nd.edu/rarebooks/exhibits/" target="">
      <img src="http://www.library.nd.edu/local_images/spotlight/hourbyhour.gif" style="border-width:0"></a>
    </div>
    <div class="gallerylayer" style="position: absolute; left: 0px; top: 0px; z-index: 999; opacity: 1;"></div>
    <div class="navpanellayer" style="position: absolute; width: 100%; height: 38px; left: 0px; top: 135px; font-weight: bold; font-style: normal; font-variant: normal; font-size: 11px; line-height: normal; font-family: Verdana; z-index: 1001;">
      <div class="navpanelbg" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(245, 243, 242); opacity: 1; background-position: initial initial; background-repeat: initial initial;"></div>
      <div class="navpanelfg" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; padding-top: 2px; text-align: center; color: white;">
        <div id="gallerythumbs" style="position: relative; top: 12px;">
          <div id="leftNav" title="Prev" style="padding: 4px 6px 4px 6px; margin-right: 2px; border: 1px solid #304962; width: 20px; height: 20px; display: inline; color: #2b5781; cursor:hand; cursor:pointer;  ">&lt;</div>
          <div id="thumb0" title="0" class="gallerythumb" style="cursor: pointer; padding: 4px 6px; margin-right: 2px; border: 1px solid rgb(48, 73, 98); width: 20px; height: 20px; display: inline; background-color: rgb(43, 87, 129); color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">1</div>
          <div id="thumb1" title="1" class="gallerythumb" style="cursor:hand; cursor:pointer; padding: 4px 6px 4px 6px;  margin-right: 2px; border: 1px solid #304962; width: 20px; height: 20px; display: inline;  color: #2b5781;  ">2</div>
          <div id="thumb2" title="2" class="gallerythumb" style="cursor: pointer; padding: 4px 6px; margin-right: 2px; border: 1px solid rgb(48, 73, 98); width: 20px; height: 20px; display: inline; color: rgb(43, 87, 129); background-color: rgb(245, 243, 242); background-position: initial initial; background-repeat: initial initial;">3</div>
          <div id="thumb3" title="3" class="gallerythumb" style="cursor:hand; cursor:pointer; padding: 4px 6px 4px 6px;  margin-right: 2px; border: 1px solid #304962; width: 20px; height: 20px; display: inline;  color: #2b5781;  ">4</div>
          <div id="thumb4" title="4" class="gallerythumb" style="cursor:hand; cursor:pointer; padding: 4px 6px 4px 6px;  margin-right: 2px; border: 1px solid #304962; width: 20px; height: 20px; display: inline;  color: #2b5781;  ">5</div>
          <div id="rightNav" title="Next" style="padding: 4px 6px 4px 6px; border: 1px solid #304962; width: 20px; height: 20px; display: inline; color: #000000; cursor:hand; cursor:pointer;">&gt;</div>
        </div>
      </div>
    </div>
  </div>


  <div id="hours">
    <div id="todays-hours">
      <div id="hrs">
        <div class="hours">
          <h5>Spring Semester Hours</h5>

          <dl class="dl-horizontal">
            <dt>Monday - Thursday</dt>
            <dd>Open 24 hours*</dd>
            <dt>Friday</dt>
            <dd>Open till 11pm</dd>
            <dt>Saturday</dt>
            <dd>9am - 7pm</dd>
            <dt>Sunday</dt>
            <dd>Opens at 10am</dd>
          </dl>
          <p>Phone: (574) 631-6679</p>

          <p>Concourse opens early on weekends for Au Bon Pain Cafe.</p>
          <hr>
          <h5>Final Exams Hours</h5>
          <p class="dates">Effective from April 29th - May 9th</p>

          <dl class="dl-horizontal">
            <dt>Monday - Sunday</dt>
            <dd>Open 24 hours</dd>
          </dl>


        </div>


        <p><a href="" data-reveal-id="hoursp">*24/5 Procedures</a></p>
        <p><a href="http://www.library.nd.edu/about/hours/">Hesburgh Service Desks</a></p>
      </div>
    </div>
  </div>
</div>
