<div class="record">
  <div class="cover">
    <div class="cover-image"></div>
    <div class="cover-type"></div>
  </div>
  <div class="summary">
    <h2 class="title"></h2>
    <h3 class="author"></h3>
    <p class="details"></p>
    <p class="publisher"></p>
    <p class="availability"></p>
  </div>
</div>
