<div class="record">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type"></div>
  </div>
  <div class="summary">
    <h2 class="title"></h2>
    <h3 class="author"></h3>
    <p class="details"></p>
    <p class="publisher"></p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text"></span>
      <span class="availability-link"></span>
    </p>
  </div>
</div>
