<h1>New Map File</h1>

<%= simple_form_for @map_file, :url => maps_building_map_files_path(@map_file.building), :html => { } do |f| %>
  <%= render :partial => 'form', :locals => { f: f } %>
<% end %>