
    <div class="control-group">
      <%= label_tag :name, "Subject Name", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name, {:class=>"span5"} %>
        </div>
    </div>

    <div class="control-group">
      <%= label_tag :lc_class, "LC Class", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :lc_class, {:class=>"span5"} %>
        </div>
    </div>

    