<% just_say_yes_header %>
<div class="alert-message block-message success">
  <p><strong>Success!</strong>  Your order has been submitted to Just Say Yes!</p>
  <p>You will receive a copy of your request via email.</p>
  <div class="alert-actions">
    <%= link_to 'New Order', new_just_say_yes_order_path(), :class => 'btn' %>
  </div>
</div>

<%= render :partial => 'just_say_yes_orders/order', :locals => {:order => @just_say_yes_order} %>