<h1>Recommend a Purchase (Book, Journal, etc.)</h1>

<p>You must <%= link_to "sign in", new_purchase_request_path %> using your NetID and password to recommend a purchase.</p>

<p><%= link_to "Sign in to recommend a purchase", new_purchase_request_path, class: 'btn btn-primary' %></p>
