<h1>Listing directory_administrative_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @directory_administrative_users.each do |directory_administrative_user| %>
  <tr>
    <td><%= link_to 'Show', directory_administrative_user %></td>
    <td><%= link_to 'Edit', edit_directory_administrative_user_path(directory_administrative_user) %></td>
    <td><%= link_to 'Destroy', directory_administrative_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Administrative user', new_directory_administrative_user_path %>
