
<div class="DirectoryMenu">
	<h3>Staff Directory</h3>
	<ul class="nav nav-tabs nav-stacked">
		<li><%= link_to("Employees", directory_employees_path) %></li>
		<li><%= link_to("Departments", directory_departments_path) %></li>
		<li><%= link_to("Organization", directory_organization_path) %></a></li>
		<li><a href="">Subject Areas</a></li>
		<li><a href="">Commitees and Teams</a></li>
	</ul>
	<ul class="nav nav-tabs nav-stacked">
		<li><a href="">Subject Librarian Guide PDF</i></a></li>
		<li><a href="">Org Chart</a></li>
	</ul>	
</div>


