<% directory_menu %>

<% breadcrumb([link_to('Staff Directory', directory_root_path), "Employees" ]) %>

<% content_for :content_title do %>
  <div class="page-header"><h1>Employees</h1></div>
<% end %>


<div class="empTable">
  <table id="directory_employee_full_list" icellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Unit</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>About</th>
      </tr>
    </thead>
    <tbody>
    <% @employees.each do |employee| %>
      <%= render partial: 'employee_row', locals: { employee: employee} %>
    <% end %>
  </tbody>
  </table>
</div>
