<% content_for(:page_title) { "Photo Gallery" } %>
<% content_for(:meta_description) { "Employee Photo Gallery for the Hesburgh Libraries, University of Notre Dame" } %>
<% params[:type] = "DirectoryPhotoGallery" %>
<% directory_menu %>

<% breadcrumb([link_to('Employee Directory', directory_path), "Photo Gallery" ]) %>

<% content_for :content_title do %>
    <div class="page-header">
      <h1>Photo Gallery</h1>
    </div>
<% end %>

<div class="empTable">
  <% @employees.each do |employee| %>
    <%= render partial: 'employee_photo_page_box', locals: { employee: employee} %>
  <% end %>
</div>

