<% directory_menu %>

<% breadcrumb([link_to('Staff Directory', directory_root_path), "Employees" ]) %>

<div class="empTitleBar">
  <span class="innerMiddle">
    <%= @employee.first_name %> <%= @employee.last_name %>
  </span>
</div>

<div class="staffrow">

<div class="staffImage three columns"> 
  <img src="/assets/blank_staff.jpg"/>
</div>
<div class="staffInfo eight columns">
  <div class="staffTitle">hello world</div>
</div>
</div>
