@font-face{ font-family: 'icons'; 
    src: url('/assets/1.0/websymbols-regular-webfont.eot'); 
    src: url('/assets/1.0/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), 
        url('/assets/1.0/websymbols-regular-webfont.woff') format('woff'), 
        url('/assets/1.0/websymbols-regular-webfont.ttf') format('truetype'), 
        url('/assets/1.0/websymbols-regular-webfont.svg#webfont') format('svg'); }

/* -----------------------------------------
   Primary Library Template Structure
----------------------------------------- */
body {
	background-color: #2B5781;
    color: #304962;
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,Helvetica,sans-serif;
}

.container {
	margin: 0 auto;

}

div.header {
	background:url(/assets/1.0/header-home.jpg) no-repeat;
	position:relative;
	height: 90px;
}

.header h4, .header h3 {
    margin:0;
}

.header h4 a {
	border: medium none;
    display: block;
    position:absolute;
    left:0;
    top:0;
    height: 62px;
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 460px;
}

.header h3 a {
	border: medium none;
    display: block;
    position:absolute;
    left:0;
    top:62px;
    height: 25px;
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 460px;
}

.header .sg {
    position:absolute;
    top:3px;
    right:30%;
}

.header_search {
    top: 55px;
    position: absolute;
    right: 0;
}
.header_search #search_field {
    background: none repeat scroll 0 0 #F8F7E9;
    border: 1px solid #FDD456;
    margin-right: 4px;
    opacity: 0.7;
    padding-left: 3px;
}
.header_search button {
    background: none repeat scroll 0 0 #FEE084;
    border-width: 1px;

}
.header_search input, .header_search button {
    float: left;
    vertical-align: top;
}
.menu {
    position:relative;
    z-index:120;
}

.legend {
    display:none;
}
.content {
    /*padding-bottom:3em;*/
    position: relative;

}

.breadcrumb, .content, .footer {
	background:#F8F7E9;
}

.footer {
    border-top: 1px solid #B7A765;
    padding-top: 15px;

}

.footer .columns {
    text-align:center;
}

.footer .three {
    width:24%;
}

.footer .six {
    width:43%;
}

.footer p {
    font-size:12px;
}

.footer img {
    vertical-align: baseline;
}

/* -----------------------------------------
   Main Menu
----------------------------------------- */
ul#nav a {border-bottom:none;}
ul#nav li {width:196px;width:20%;} /* 980px / 5 */
ul#nav li ul,
ul#nav li ul li {width:240px;}
ul#nav li li.sfHover ul {left:240px;}
ul#nav li li li.sfHover ul {left:240px;}
ul#nav li#dbsaz p {margin:0; padding:0 5px 5px 5px; border-right:1px solid #789cbf; line-height:1.3em;}
ul#nav li#dbsaz p a {margin:0; padding:0 2px; border:none; display:inline;}
ul#nav li#dbsaz p a:hover {color:#0066CC; background-color:#EFFFFF;}

/* style for main menu using superfish*/
ul#nav.sf-menu {float: left; margin-bottom:0; position:relative; z-index:2001; width:100%; }
ul#nav.sf-menu a {border-top: 1px solid #789cbf;   border-right: 1px solid #789cbf; padding: .75em 1em .75em 1em; text-decoration:none;  }
ul#nav.sf-menu li.left >a{border-left: 1px solid #789cbf;   }
ul#nav.sf-menu li.last {border-bottom: 1px solid #789cbf;   }
ul#nav.sf-menu a,
ul#nav.sf-menu a:visited {font-weight: bold; color:#dde8f4; line-height:1em;} /* visited pseudo selector so IE6 applies text colour*/
ul#nav.sf-menu li {background:#304962; text-indent:0; margin-left:0; white-space:nowrap;} 
ul#nav.sf-menu li li {background:#2b5781; border-top: none; border-left: 1px solid #789cbf;  white-space:normal;  }
ul#nav.sf-menu li li li {background:#3a75af; border-top: none; border-left: 1px solid #789cbf; white-space:normal;  }
ul#nav.sf-menu li:hover,
ul#nav.sf-menu li.sfHover,
ul#nav.sf-menu a:focus,
ul#nav.sf-menu a:hover,
ul#nav.sf-menu a:active {background:#0e3255; outline:0; }
ul#nav.sf-menu li p.list{border-right: 1px solid; }


/* -----------------------------------------
   Tabs
----------------------------------------- */
dl.tabs {
    border-bottom:none;
}

dl.tabs dd {
    margin-left:4px;
}

.home-page dl.tabs {
    height:33px;
}

.home-page dl.tabs dd {
    margin:0;
    padding-right:4px;
    overflow: hidden;
    position: relative;
    height: 33px;
}

.home-page dl.tabs dd a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 25px;
    line-height: 24px;
}

.home-page dl.tabs span {
    margin:0;
    padding-right:4px;
    overflow: hidden;
    position: relative;
    display: block;
}

dl.tabs dd:first-child {
	margin-left:0;
}

dl.tabs dd a {
    color:#2B5781;
	border: 1px solid #B1C6D3;
	border-bottom:none;
	border-radius:6px 6px 0 0 ;
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.7);
	z-index:2;
	position: relative;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FmY2FlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2IwY2FlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzljYmRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMGNhZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/

    background: -moz-linear-gradient(top, #9bbcdd 0%, #9cbddd 60%, #b0cae4 56%, #b5cde6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bbcdd), color-stop(60%,#9cbddd), color-stop(60%,#b0cae4), color-stop(100%,#b5cde6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9bbcdd 0%,#9cbddd 60%,#b0cae4 60%,#b5cde6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9bbcdd 0%,#9cbddd 60%,#b0cae4 60%,#b5cde6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9bbcdd 0%,#9cbddd 60%,#b0cae4 60%,#b5cde6 100%); /* IE10+ */
    background: linear-gradient(top, #9bbcdd 0%,#9cbddd 60%,#b0cae4 60%,#b5cde6 100%); /* W3C */
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    behavior: url(/assets/1.0/PIE.htc);
    margin:0;
}

dl.tabs dd a:hover {
    background: -moz-linear-gradient(top, #afcae4 0%, #b7cfe7 60%, #c5d9ec 60%, #c9dbed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afcae4), color-stop(60%,#b7cfe7), color-stop(60%,#c5d9ec), color-stop(100%,#c9dbed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #afcae4 0%,#b7cfe7 60%,#c5d9ec 60%,#c9dbed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #afcae4 0%,#b7cfe7 60%,#c5d9ec 60%,#c9dbed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #afcae4 0%,#b7cfe7 60%,#c5d9ec 60%,#c9dbed 100%); /* IE10+ */
    background: linear-gradient(top, #afcae4 0%,#b7cfe7 60%,#c5d9ec 60%,#c9dbed 100%); /* W3C */
}

ul.contained.tabs-content {
    list-style:none;
}

ul.contained.tabs-content > li{
 	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B1C6D3;
    border-radius: 0px 14px 14px 14px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.7);
    padding: 35px 20px 14px;
    z-index:40;
    position: relative;
    behavior: url(/assets/1.0/PIE.htc);
    
 }

 ul.contained.tabs-content > li#simple1Tab {padding-top: 14px;}

 .home-page ul.contained.tabs-content > li {
    float: left;
    width: 95%;
 }

#search_box {
    margin-bottom: 40px;
    float: left;
    width: 100%;
    margin-top: 32px;
    z-index: 1;
}

 .content .container:first-child {
    padding-bottom:1em;
 }

/* -------------
    Home Page
----------------- */

.taupe-bg { background: url(/assets/1.0/taupe_bg.png) #f8f7e9 repeat-y top right ;  border-top: 2px solid #f3ede4;  border-bottom: 2px solid #f3ede4;  z-index:10; }

#gallery {
    border: 1px solid #F5F3F2;
    margin-bottom: 1em;
    visibility: hidden;
}

.home-page .inner-left {

    padding-left:34px;
    padding-top:50px;
    padding-bottom:50px;
}

.home-page .inner-right {

    padding-left:13px;
    padding-top:50px;
}

#quicklinks { padding: .5em 0em 0em .5em; background-color:#fae9a7;  background: #fbfcfd; }
#quicklinks h4 {margin-bottom: 1em; font-weight: bold;  clear:both; border-bottom:2px solid #fdd456;}
#quicklinks ul {font-size:90%; margin: 0 0 .7em 0; padding-left:0;  list-style-type:none; float:left;  }
#quicklinks li {display:block; width:auto; margin-left: 1.2em; text-indent:-1em;  }
#quicklinks a {font-weight:bold; color:#2c5882; } /*border-color:#C11B17;} obsolete */

/* new quicklinks styling */
#quicklinks a { font-weight:normal; font-size:115%; text-decoration:none;}
#quicklinks a:hover { text-decoration:underline;}

.extra-links { list-style-type:none; padding-left:0 !important; float:left;margin-left: 0; }
.extra-links li { display:inline; padding-right: 1em;  float:left; }

.new img {
    border: medium none !important;
    margin-top: -5px;
    padding: 0 4px 0 0 !important;
    vertical-align: top;
}
.new.about-tab a {
    background: none repeat scroll 0 0 transparent !important;
    padding: 0 !important;
}
.new.about-tab {
    border: medium none !important;
    padding-bottom: 1em !important;
    position: static !important;
    text-align: left !important;
}
.feedback {
    display: block;
    margin-top: -22px;
    padding-bottom: 8px;
    padding-left: 76px;
}


/* Home Page Chat Window Update */

 #chat {
    position:relative;
    background-color: #F5F3E2;
    border: 2px solid #FCFBF5;
    float: left;
    padding: 0 0 0 1px;
    width: 261px;
}

#chat-head {
    cursor: pointer;
    float: left;
    font-weight: bold;
    padding-left: 15px;
}

#chat-widget {
    position:absolute;
    left:-2px;
    top:19px;
    margin-top:0;
    padding-top:5px;
    width:258px;
    background:#F5F3E2;
    border:2px solid #FCFBF5;
    border-top:none;
    display: none;
    float: left;
}

#hours {
    background-color: #F5F3E2;
    border: 2px solid #FCFBF5;
    float: left;
    margin: 2em 0 0;
    padding: 0.75em;
    width: 242px;
}

.onesearch span {
    background-image: url("/assets/1.0/onesearch.png");
    background-position:0px 0px;
    background-repeat: no-repeat;
    height: 0 !important;
    overflow: hidden !important;
    padding-bottom: 0 !important;
    padding-top: 29px !important;
    text-decoration: none;
    width: 80px !important;
}



.ndcatalog span {
    background-image: url("/assets/1.0/ndcatalog.png");
    background-position:0px 0px;
    background-repeat: no-repeat;
    height: 0 !important;
    overflow: hidden !important;
    padding-bottom: 0 !important;
    padding-top: 29px !important;
    text-decoration: none;
    width: 73px !important;
}



/* Tabs (temp) */

.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
/* html .ui-helper-clearfix { height:1%; } */
.ui-helper-clearfix { display:block; }
/* end clearfix */

.ui-tabs .ui-tabs-nav { margin: 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 1px 2px 0px 0px; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-hide { display: none !important; }
 
.ui-tabs ul.ui-tabs-nav li{ margin-right: -1px;  }
#tab_box ul.ui-tabs-nav li{ margin-right: 0;padding-right:4px;overflow:hidden;  }
#tab_box.ui-tabs {padding:0; border:none; font-size: 95%; }
#tab_box .ui-tabs-panel {min-height: 8.5em; }
#tab_box.simple .ui-tabs-panel {min-height:10em;}
.tabs li { text-indent:0em; margin-left:0em; }

#tab_box{ margin-bottom: 20px; }
#tab_box .ui-tabs-panel ul li {list-style:none; margin-left:0;}
#tab_box .ui-tabs-panel ul li ul li {padding-right:0;}
#tab_box fieldset {margin:0; padding:0; border:none;}
#tab_box form {margin-bottom:1em;}
#tab_box p.about-tab {margin-bottom:0; text-align:right; position:absolute; bottom: 15px; right: 15px; border:1px solid #DDD; padding: .3em; }
#tab_box p.about-tab a {padding:3px 6px 3px 20px; background:url('/assets/1.0/info.gif') 5px center no-repeat; }
#tab_box p.about-tab a:hover {background-color:#e9f0f8;}
#tab_box select {width:190px;}
#tab_box input.srch-box {padding:.5em 0; width:230px;}
#tab_box input.srch-box.long {width:424px;}

.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding:0; }

ul.tabs li.tbi{
    margin-right: -1px;
}
ul.tabs li.tba{
    margin-right: -1px;
}
ul.tabs li.tb{
    margin-right: -1px;
}

li.tba a{
    color: #2b5781;
}

li.tbi a{
    color: #2b5781;
}

li.tbi .menu_center,li.tb .menu_center, .tba .menu_center{
    line-height: 24px;
    float:left;
    display:block;
    height: 33px;
    
}

li.tba .menu_center {
    background: #fff !important;
}


li.tb a{
    color: #5f8fbf;
}

li.tb .menu_center{
    background:url(/assets/1.0/center_tab_lb.png) repeat-x;

}


.home-page .tabs {z-index:100;position: absolute;left:34px;}
.home-page ul.contained.tabs-content > li {z-index: 0;}

.shim {
    height:3px;
    background:#fc0;
    position:absolute;
    top:30px;
    width:100%;
    z-index: 40;
}
 .home-page .btn {
        margin-bottom:9px;
    }

.default {
    font-size: 10px;
    position: absolute;
    top:10px;
    right:15px;
}

.default a {
    text-decoration: none;
    color: #666;
    padding-right:13px;
    background: url(/assets/1.0/off.gif) no-repeat right;
}

.default a.on, .default .active {
    background-image: url(/assets/1.0/on.gif);
}

.content li a:link {
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

/* -----------------------------------------
   Box
----------------------------------------- */

.box {
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B1C6D3;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius:14px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.7);
    behavior: url(/assets/1.0/PIE.htc);
    padding:14px;
    z-index:20;
    margin-bottom:1.12em;
}   

.yellow {
    background:#ECE3B0;

}

@media only screen and (max-width: 767px) {
    
    .header h4 a, .header h3 a {width:auto;}
    .sg {
        display:none;
    }
}

/* the norm */
#gritter-notice-wrapper {
    position:fixed;
    top:50%;
    left:50%;
    width:301px;
    z-index:9999;
    margin-left:-150px;
}
#gritter-notice-wrapper.top-left {
    left: 20px;
    right: auto;
}
#gritter-notice-wrapper.bottom-right {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}
#gritter-notice-wrapper.bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
}
.gritter-item-wrapper {
    position:relative;
    margin:0 0 10px 0;
    background:url('/local_images/ie-spacer.gif'); /* ie7/8 fix */ 
}
.gritter-top {
    background:url(/assets/1.0/gritter.png) no-repeat left -30px;
    height:10px;
}
.hover .gritter-top {
    background-position:right -30px;
}
.gritter-bottom {
    background:url(/assets/1.0/gritter.png) no-repeat left bottom;
    height:8px;
    margin:0;
}
.hover .gritter-bottom {
    background-position: bottom right;
}
.gritter-item {
    display:block;
    background:url(/assets/1.0/gritter.png) no-repeat left -40px;
    color:#eee;
    padding:2px 11px 0px 11px;
    font-size: 11px;
    font-family:verdana;
}
.hover .gritter-item {
    background-position:right -40px;
}
.gritter-item p {
    padding:0;
    margin:0;
    word-wrap:break-word;
    display: none;
}
.gritter-close {
    display:none;
    position:absolute;
    top:5px;
    left:3px;
    background:url(/assets/1.0/gritter.png) no-repeat left top;
    cursor:pointer;
    width:30px;
    height:30px;
}
.gritter-title {
    font-size:14px;
    font-weight:bold;
    padding:0 0 7px 0;
    display:block;
    text-shadow:1px 1px 0 #000; /* Not supported by IE :( */
}
.gritter-image {
    width:48px;
    height:48px;
    float:left;
}
.gritter-with-image,
.gritter-without-image {
    padding:0;
}
.gritter-with-image {
    width:220px;
    float:right;
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
    background-image: url(/assets/1.0/gritter-light.png);
    color: #222;
}
.gritter-light .gritter-title {
    text-shadow: none;
}

td {
    vertical-align: top;
    padding: 4px 10px 4px 5px;
}

/*Tablet Styles*/ 

@media only screen and (max-width: 990px) {
    dl.tabs dd a {
        border-radius:0;
        z-index:35;
        box-shadow:none;
    }

    ul.contained.tabs-content > li {
        border-radius:0 0 14px 14px;
        clear:both;
        box-shadow:none;
    }

    dl.tabs dd {
        margin:0;
        width:100%;
    }

    .home-page dl.tabs dd a {
        width:100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        display:block;
        line-height: 1em;
        height: 100%;
    }

    dl.tabs dd a:hover {background:#fff;}

    .home-page dl.tabs dd {
        width:50%;
        border: none;
        margin:0 !important;
        padding-right:0;
    }

    #tabs li div  {
        width:100%;
        border-radius: 0;
        margin:0 !important;
        box-shadow: none;
        border-width: 1px 0;
        padding:0;
    }
    
    ul.contained.tabs-content li {
        border-radius: 0;
    }

    #tab_box input.srch-box.long {
        width:95%;
    }
    #search_box {
        padding:0;
        border-radius: 0;
        margin:0 !important;
        box-shadow: none;
    }

    .home-page dl.tabs dd a {
        padding-top:10px;
    }

    .home-page .tabs {
        position: static;
    }

    .home-page ul.contained.tabs-content > li {
        width: 100%;
        margin-bottom: 20px;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }

    .onesearch, .ndcatalog {
        padding-top: 5px !important;
    }


    ul.extra-links {
        margin-left:0;
        width: 100%;
        float: left;
    }

    #tab_box p.about-tab {
        bottom:10px;
        right:10px;
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .home-page .inner-left {
        padding-bottom: 25px;
        padding-left: 15px;
        padding-top: 25px;
    }

    .home-page .inner-right {
        padding-top:25px;
    }

    .row .eight {
        width: calc(97.8% - 290px);
        width: -moz-calc(97.8% - 290px);
        width: -webkit-calc(97.8% - 290px);
    }

    .home-page .row .four {
        width: 290px;
    }

    .home-page .column, .home-page .columns {
        margin-left: 2.2%;
    }

    .taupe-bg {
        background-position: 104% 0%;
    }


}

@media only screen and (max-width: 767px) {
    .search-toggle {
        position:absolute;
        top:5px;
        right:5px;
        font-family:'icons';
        text-decoration:none;
        background: none repeat scroll 0 0 #FEE084;
        border-width: 1px;
        speak:none;
        padding: 4px 7px;
    }
}

/*Phone Styles */

@media only screen and (max-width: 480px) { 

    .container {
        padding:10px 10px 0;
    }
    
    div.header {
        height:45px;
        background-size:auto 100%;
    }
    .header.open {
        margin-bottom:38px;
    }
    .header h4 {
        margin:0;
    }
    .header h4 a {
        width:200px;
        position: static;
        float:left;
        padding-top:45px;
        height:0;
    }

    .header_search {
        top:45px;
        background:#C0C8D0;
        -webkit-box-shadow: inset 0px 0px 5px 0px #666;
        box-shadow: inset 0px 0px 5px 0px #666; 
        width:100%;
        
        /*box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;*/
        position:static;
        clear:both;
        overflow:hidden;
        text-align:right;
        height:auto;
    }

    .header_search fieldset {
        padding:5px;
    }
    .header_search #search_field {
        
        width:-moz-calc(100% - 40px) !important;
        width:-webkit-calc(100% - 40px) !important;
        width:calc(100% - 40px) !important;
    }
    .home-page .header_search .btn {
        margin-bottom:0;
    }

    .header_search input, .header_search button {
        float:none;
    }

    .closed {
        height:0;
        padding:0;

    }

    
  
    .header_search form, .header_search input {
        margin:0;
    }

    .menu {
        background:#304962;
        padding:5px 5px;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }

    .menu select {
        margin-bottom:0;
        display:block;
        width:inherit;
    }

    .sf-sub-indicator {
        display: none;
    }

    /* HORIZONTAL FORMS AT SMALL SCREEN */
    .form-horizontal .control-label {
        float:none !important;
        width:auto !important;
        text-align:left;
    }

    .form-horizontal .controls {
        margin-left:0 !important;
    }

    .form-horizontal .form-actions  {
        padding-left: 0px;
    }

    
    .input-xlarge {
        width:auto;
    }

    .box {
        margin-top:10px;
    }

    

    .column, .columns, .content {position:static;}

    #gallery {
        display:none;
    }

    .taupe-bg {
        background-image:none;
    }

    

    h1 {
        font-size:20px;
        line-height: 24px;
    }



    .home-page .inner-left, .home-page .inner-right {
        padding:0;
    }



    #hours {
        width:100%;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        margin-bottom: 1.12em;
    }

    table {
        width:100%;
    }

}
