<p>
Please take a moment to login and check that the hours are still correct for <%= @service.name %>.
</p>

<p>
Login
<a href="<%= availability_service_point_hours_url(@service_point) %>">here</a>.
</p>

