<% form_view = ContactInformationView.new(@contact_information) %>

<% content_for :modal_title do %>
Add <%= form_view.type_display %>
<% end %>


<%= form_for @contact_information, as: :directory_contact_information, 
	:url => { :controller => "contact_informations", :action => "create" }, 
	html: {:class => 'form-horizontal directory_form', :div_for_content => 'div_contact_information' } do |f| %>

  <%= render :partial => 'form', locals: {f: f, form_view: form_view} %>

  <div class="modal-footer">
    <%= f.submit "Add #{form_view.type_display}", :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>  

<% end %>

