<h1>Edit Call Number Range</h1>

<%= simple_form_for @map_call_number_range, :url => maps_building_map_file_map_call_number_range_path(@map_call_number_range.building, @map_call_number_range.map_file, @map_call_number_range), :html => { } do |f| %>

  <%= render :partial => 'form', :locals => { f: f } %>
<% end %>