


<% employee_units.each do |department_employee| %>
	<% if department_employee.chair %>
		<div class='orgTeamChair'>
	<% else %>
		<div class='orgTeamMember'>
	<% end %>

		<div class="orgName"><%= department_employee.employee %></div>
		<div class="orgTitle"><%= department_employee.employee_unit_title %></div>
		<div class="clear"></div>
	</div>
<% end %>



