<% content_for(:page_title) { "Organization" } %>
<% content_for(:meta_description) { "Organization view of the Hesburgh Libraries, University of Notre Dame" } %>

<% directory_menu %>

<% breadcrumb([link_to('Employee Directory', directory_root_path), "Organization" ]) %>

<% content_for :content_title do %>
    <div class="page-header">
    	<h1>Organization</h1>
    </div>
<% end %>

<% org_view = OrganizationView.new %>

<div id="organizationPage">
	<div>
		<div>

		<% @all_departments.each do |d| %>
			<%= render partial: "department", locals: { department: d[:directory_department], level: d[:level], position: d[:position], org_view: org_view } %>
		<% end %>


		</div>
	</div>
</div>