<% breadcrumb([link_to('Service Points', availability_service_points_path), link_to(@service_point.name, availability_service_point_hours_path(@service_point)), "Edit #{@service_point.name}"]) %>

<% content_title("Edit #{@service_point.name}") %>

<div style="margin-top: 25px; margin-left: 60px;">
<%= simple_form_for @service_point, 
    :url => availability_service_point_path(@service_point),
    :html => {:class => 'form-horizontal' } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>

