<h1>New Call Number Range</h1>

<%= simple_form_for @call_number_range, :url => maps_building_floor_map_call_number_ranges_path(@call_number_range.building, @call_number_range.floor_map), :html => { } do |f| %>
  <%= render :partial => 'form', :locals => { f: f } %>
<% end %>