<p>You are resetting the password for your account with the login: <strong>jkennel</strong></p>
<p>
  New Password: <input type="password"><br>
  Confirm Password: <input type="password">
</p>
<p><input type="submit" value="Change Password"></p>