<h1>Listing directory_employee_ranks</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @directory_employee_ranks.each do |directory_employee_rank| %>
  <tr>
    <td><%= link_to 'Show', directory_employee_rank %></td>
    <td><%= link_to 'Edit', edit_directory_employee_rank_path(directory_employee_rank) %></td>
    <td><%= link_to 'Destroy', directory_employee_rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee rank', new_directory_employee_rank_path %>
