<h2>Instructions</h2>
<% if object.is_a?(Availability::RegularHours) %>
  <p><i>Regular Hours</i> display the normal operational hours for the service point. Make sure that there are no gaps in published dates for future hours unless you want nothing to appear for those dates. </p>
<% else %>
  <p><i>Exceptions</i> are changes to the normal operational hours. These always appear below the current regular hours. Some examples would be holiday hours or Easter hours.</p>
  <p>
   You may wish to publish the exceptions a week or two ahead of the actual exception date to give advanced notice of the change.
  </p>
<% end %>

<h4>Example Display</h4>

<div class="regular_hours hours">
  <h5>NAME</h5>
  <p class="dates">Effective from start date to end date</p>
  <p>Prepended descriptive text</p>
  <dl class="dl-horizontal">
    <dt>From - To</dt>
    <dd>Hours Descrition</dd>
    <dt>From - To</dt>
    <dd>Hours Descrition</dd>
    <dt>From - To</dt>
    <dd>Hours Descrition</dd>
  </dl>
  <p>Appended descriptive text</p>
</div>

