<h2>Instructions</h2>
<% if object.is_a?(Availability::RegularHours) %>
  <p><i>Regular Hours</i> display the normal operational hours for the service point. Make sure that there are no gaps in published dates for future hours unless you want nothing to appear for those dates. </p>
<% else %>
  <p><i>Exceptions</i> are changes to the normal operational hours. These always appear below the current regular hours. Some examples would be holiday hours or Easter hours.</p>
  <p>
   You may wish to publish the exceptions a week or two ahead of the actual exception date to give advanced notice of the change.
  </p>
<% end %>

<h4>Example Display</h4>

<div class="service_hours">
  <div class="regular_hours">
    <div class="hours">
    <div class="hours_name">NAME</div>
    <div class="hours_prepend_text">Prepended descriptive text</div>
    <div class="hours_rows">
      <div class="hours_row">
        <div class="hours_day">From - To</div>
        <div class="hours_text">Hours Descrition</div>
      </div>
      <div class="hours_row">
        <div class="hours_day">From - To</div>
        <div class="hours_text">Hours Descrition</div>
      </div>
      <div class="hours_row">
        <div class="hours_day">From - To</div>
        <div class="hours_text">Hours Descrition</div>
      </div>
    </div>
    <div class="hours_append_text">Appended descriptive text</div>
  </div>
</div>
