<div class="row form-inline hours-day-row control-group">
  <span class="span11">
       <select name="availability_regular_hours[hours][start_day][]" class="hours-day hours-day-start span2" tabindex="5">
         <option value="">From: </option>
         <option value="monday">Monday</option>
         <option value="tuesday">Tuesday</option>
         <option value="wednesday">Wednesday</option>
         <option value="thursday">Thursday</option>
         <option value="friday">Friday</option>
         <option value="saturday">Saturday</option>
         <option value="sunday">Sunday</option>
       </select>
       -
       <select name="availability_regular_hours[hours][end_day][]" class="hours-day hours-day-end span2"  tabindex="5">
         <option value="">To: </option>
         <option value="monday">Monday</option>
         <option value="tuesday">Tuesday</option>
         <option value="wednesday">Wednesday</option>
         <option value="thursday">Thursday</option>
         <option value="friday">Friday</option>
         <option value="saturday">Saturday</option>
         <option value="sunday">Sunday</option>
       </select>
       <input name="availability_regular_hours[hours][hours][]" type="text" placeholder="Hours: e.g. Open 24 Hours, 6am - 5pm" class="hours-day hours-day-input"  tabindex="5">

    <p class="help-block"></p>
  </span>
</div>
