<div class="service_hours">
  <div class="regular_hours">
    <%= raw(regular_hours) %>
  </div>
  adsf
  <% if next_regular_hours.upcoming_hours_should_be_published? %>
  <div class="regular_hours">
    <%= raw(next_regular_hours) %>
  </div>
  <% end %>
  <div class="hours_exceptions">
    <%= raw(hours_exceptions) %>
  </div>

</div>
