<div class="hours">
  <% if hours.prepend_text.present? %>
    <p class="hours_prepend_text"><%= raw hours.prepend_text %></p>
  <% end %>
  <div class="hours_rows">
    <% hours_rows.each do | row | %>
      <div class="hours_row">
        <div class="hours_day"><%= h row[:days] %></div>
        <div class="hours_text"><%= h row[:availability] %></div>
      </div>
    <% end %>
  </div>
  <% if hours.postpend_text.present? %>
    <p class="hours_postpend_text"><%= raw hours.postpend_text %></p>
  <% end %>
</div>