<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="<%= availability_service_points_path() %>">Service Points</a> <span class="divider">/</span></li>
  <li><%= link_to service_point.name, availability_service_point_path(service_point) %><span class="divider">/</span></li>
  <li class="active">New Hours</li>
</ul>

<h1>New Regular Hours</h1>

<%= simple_form_for @hours, :html => {id: "new_hours_form", class: "new_hours_form"}, :url => availability_service_point_hours_path(service_point) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
