<h1>Edit Hours for Hesburgh Library</h1>

<h2>Regular Hours</h2>

<form>
  <fieldset>

    <label>Name</label>
    <input type="text" />

    <label>Hours are active from</label>
    <input type="text" placeholder="Start Date" /> to <input type="text" placeholder="End Date" />

    <label>Pre-text</label>
    <textarea class="span6" id="pretext" placeholder="Text to appear above the hours"></textarea>

    <div class="row-fluid">
      <div class="span4">
        <label>Days</label>
      </div>
      <div class="span4">
        <label>Hours</label>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <select class="span5">
          <option></option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
        -
        <select class="span5">
          <option></option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
      </div>
      <div class="span4">
        <input type="text" placeholder="e.g. Open 24 Hours, 6am - 5pm" >
      </div>
    </div>


    <div class="row-fluid">
      <div class="span4">
        <select class="span5">
          <option></option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
        -
        <select class="span5">
          <option></option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
      </div>
      <div class="span4">
        <input type="text" placeholeder="hours" >
      </div>
    </div>

    <div>
      ...
    </div>

    <div class="row-fluid">
      <label>Post-text</label>

      <textarea class="span6"></textarea>
    </div>

  </fieldset>

  <button class="btn btn-primary">Save</button>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        //   $('#pretext').wysihtml5();
    });

</script>
