<h1>Listing directory_organizational_units</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @directory_organizational_units.each do |directory_organizational_unit| %>
  <tr>
    <td><%= link_to 'Show', directory_organizational_unit %></td>
    <td><%= link_to 'Edit', edit_directory_organizational_unit_path(directory_organizational_unit) %></td>
    <td><%= link_to 'Destroy', directory_organizational_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organizational unit', new_directory_organizational_unit_path %>
