
    <div class="row">
        <div class="span7 offset1">
            <table class="table table-condensed">
                <tr>
                    <th>Phone</th>
                    <th>Primary?</th>
                </tr>


            </table>
        </div>
        <div class="span4"></div>
    </div>