<% set_body_class('directory-page') %>

<% breadcrumb([link_to('Staff Directory', directory_root_path), "Employee Update" ]) %>

<% content_for :content_title do %>
    <div class="page-header">
    	<h1>Employee Update</h1>
    </div>
<% end %>



<div class="directory tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#div_employee" data-toggle="tab">Basic Information</a></li>
		<li><a href="#div_contact_information" data-toggle="tab">Contact Information</a></li>
        <li><a href="#div_employee_unit" data-toggle="tab">Departments and Committees</a></li>
	</ul>
	<div class="tab-content">
    	<div class="tab-pane active" id="div_employee">
			<%= render 'form' %>
    	</div>
    	<div class="tab-pane" id="div_contact_information">
    		<%= render 'contact_info' %>
    	</div>
    	<div class="tab-pane" id="div_employee_unit">
    		<%= render 'employee_unit' %>
    	</div>

	</div>
</div>

<br />


<!-- Modal -->
<div id="directoryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

