<% set_body_class('directory-page') %>

<% breadcrumb([link_to('Staff Directory', directory_root_path), "Add Employee" ]) %>

<% content_for :content_title do %>
    <div class="page-header"><h1>Add Employee</h1></div>
<% end %>


<%= render 'form' %>

