<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Monographic Order Form</h1>
    <%= render :partial => 'monographic_order', :locals => {:order => @order} %>
  </body>
</html>