jQuery ($) ->
  win = $(window)
  doc = $(document)

  window.getServiceHours = (services_to_destinations) ->
    if !hasCorsOrXDomainRequest()
      processNoCors(services_to_destinations)
      return

    request = service_request(parse_service_codes(services_to_destinations))

    request.success (data) ->
      pageTemplate = $(data.page_builder_template)
      for code, destination of services_to_destinations
        service = data["service_points"][code]
        createHoursTemplate(service, destination, pageTemplate)
    request


  createHoursTemplate = (jsonData, destination, pageTemplate) ->
    template = pageTemplate.find(" .service_hours").clone()
    addHoursToTemplate(template, 'regular_hours', jsonData.regular_hours, pageTemplate)

    if jsonData.next_regular_hours
      addHoursToTemplate(template, 'next_regular_hours', jsonData.next_regular_hours, pageTemplate)

    for external_hours_row in jsonData.hours_exceptions
      addHoursToTemplate(template, 'hours_exceptions', external_hours_row, pageTemplate)
    $(destination).prepend(template)


  addHoursToTemplate = (template, location, hours, pageTemplate) ->
    hours_template = pageTemplate.find('#hours_template').clone()

    setValues(hours_template.find('.hours_name'), hours.name)
    setValues(hours_template.find('.hours_prepend_text'), hours.prepend_text)
    setValues(hours_template.find('.hours_append_text'), hours.append_text)
    for row in hours.hours
      addHoursRowToTemplate(hours_template, row, pageTemplate)
    template.find(".#{location}").append(hours_template.children())


  addHoursRowToTemplate = (hours_template, row_data, pageTemplate) ->
    row_template = pageTemplate.find("#hours_row_template").clone()

    setValues(row_template.find('.hours_day'), row_data.days)
    setValues(row_template.find('.hours_text'), row_data.hours)
    hours_template.find(".hours_rows").append(row_template.children())


  setValues = (elements,value) ->
    if value
      elements.each( ->
        nodeName = this.nodeName.toLowerCase()
        element = $(this)
        if nodeName == "a"
          element.text(value).attr('href',value)
        else if nodeName == "input"
          element.attr('value',escape(value))
        else
          element.html(value)
      )


  hasCorsOrXDomainRequest = () ->
    return (jQuery.support.cors || window.XDomainRequest)


  processNoCors = () ->
    template = "<p><a href=\"http://www.library.nd.edu/about/hours/\">Library Hours</a></p>"
    $(destination).append(template)


  service_request = (service_codes) ->
    qs = { auth_token: 'hours', codes: service_codes.join() }
    url = '<%= Rails.configuration.hours_api_uri %>'
    if hasCorsOrXDomainRequest()
      return json_request(url + '.json', qs)
    else
      return jsonp_request(url + '.jsonp', qs)


  json_request = (url, query_params) ->
    $.getJSON url, query_params


  jsonp_request = (url, query_params) ->
    $.ajax
      url: url
      data: query_params
      dataType: "jsonp"


  parse_service_codes = (services_to_destinations) ->
    service_codes = []
    for key, destination of services_to_destinations
      service_codes << key

    return service_codes



