<% content_for :modal_title do %>
  Add Format
<% end %>
 

<%= form_for @format, :url => cataloging_admin_formats_path(@format), html: {class: "form-horizontal admin_form", div_for_content: "div_formats" } do |f| %>

	<div class="modal-body">
		<div class="control-group">
			<%= label :name, "Format", :class => "control-label" %>
	    	<div class="controls">
	    		<%= f.text_field :name, placeholder: "", required: "required", :class => "span3" %>
	    	</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<%= f.submit :class => "btn btn-primary" %>
	</div>	

<% end %>


