---
http_interactions:
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/content/isbn/9781610694896?wskey=wLC2QOx0b8Ucc9xgpu3Bxgbi93yS54E1TygoY363fB40vqKw2pwt9fwhblZty7Go1HGFfkJcgEZPfcy4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <record xmlns="http://www.loc.gov/MARC21/slim">
            <leader>00000cam a2200000 i 4500</leader>
            <controlfield tag="001">829738640</controlfield>
            <controlfield tag="008">131028s2014    caua     b    001 0 eng  </controlfield>
            <datafield ind1=" " ind2=" " tag="010">
              <subfield code="a">  2013042469</subfield>
            </datafield>
            <datafield ind1=" " ind2=" " tag="020">
              <subfield code="a">9781610694896 (pbk. : acid-free paper)</subfield>
            </datafield>
            <datafield ind1=" " ind2=" " tag="020">
              <subfield code="a">1610694899 (pbk. : acid-free paper)</subfield>
            </datafield>
            <datafield ind1=" " ind2=" " tag="020">
              <subfield code="z">9781610694902 (ebook)</subfield>
       [...]
