  </div>

  <div class="tab_dat">
    <form action="http://www.library.nd.edu/ddw/public/statistics/stats.cgi" method="get"  enctype="application/x-www-form-urlencoded" accept-charset="utf-8" name="myform" id="myform">
      <fieldset>
        <span class="legend">Find databases by title or keyword</span>
        <input id="dbf_search" class="srch-box long" type="text" name="query" value="" />
        <input type="hidden" name="stats_search_type" value="dbf_search" />
        <button type="submit" class="searchbtn">Search</button>

      </fieldset>
    </form>
    <ul class="extra-links">

      <li>All databases:
	<span id="atoz">
        <a href="http://www.library.nd.edu/alpha/a">A</a>
        <a href="http://www.library.nd.edu/alpha/b">B</a>
        <a href="http://www.library.nd.edu/alpha/c">C</a>

        <a href="http://www.library.nd.edu/alpha/d">D</a>
        <a href="http://www.library.nd.edu/alpha/e">E</a>
        <a href="http://www.library.nd.edu/alpha/f">F</a>
        <a href="http://www.library.nd.edu/alpha/g">G</a>
        <a href="http://www.library.nd.edu/alpha/h">H</a>
        <a href="http://www.library.nd.edu/alpha/i">I</a>

        <a href="http://www.library.nd.edu/alpha/j">J</a>
        <a href="http://www.library.nd.edu/alpha/k">K</a>
        <a href="http://www.library.nd.edu/alpha/l">L</a>
        <a href="http://www.library.nd.edu/alpha/m">M</a>
        <a href="http://www.library.nd.edu/alpha/n">N</a>
        <a href="http://www.library.nd.edu/alpha/o">O</a>

        <a href="http://www.library.nd.edu/alpha/p">P</a>
        <a href="http://www.library.nd.edu/alpha/q">Q</a>
        <a href="http://www.library.nd.edu/alpha/r">R</a>
        <a href="http://www.library.nd.edu/alpha/s">S</a>
        <a href="http://www.library.nd.edu/alpha/t">T</a>
        <a href="http://www.library.nd.edu/alpha/u">U</a>

        <a href="http://www.library.nd.edu/alpha/v">V</a>
        <a href="http://www.library.nd.edu/alpha/w">W</a>
        <a href="http://www.library.nd.edu/alpha/x">X</a>
        <a href="http://www.library.nd.edu/alpha/y">Y</a>
        <a href="http://www.library.nd.edu/alpha/z">Z</a>
	<a href="http://www.library.nd.edu/alpha/0">0-9</a></span></li><br />

 	 <li><a href="http://www.library.nd.edu/ddw/public/subject-all-dbs.cgi">Databases by subject</a></li>
    </ul>
    <p class="about-tab">
      <a href="/expl/expl-dat.shtml">About Databases</a>
    </p>
  </div>
<div class="tab_boo">
  <form name="searchForm" method="get" action="http://catalogplus.library.nd.edu/primo_library/libweb/action/search.do" class="simple EXLForm" enctype="application/x-www-form-urlencoded; charset=utf-8">

      <fieldset>
        <span class="legend">Find electronic books in ND and area libraries</span>
        <input type="text" id="search_field" class="EXLSearchInputText EXLMainSearchField srch-box long" name="vl(freeText0)" value="" onkeydown="" accesskey="s" />
	<input type="hidden" id="fn" name="fn" value="search" />
        <input type="hidden" id="mode" name="mode" value="Basic"/>
        <input type="hidden" id="tab" name="tab" value="nd_campus"/>
        <input type="hidden" id="indx" name="indx" value="1"/>
        <input type="hidden" id="dum" name="dum" value="true"/>

        <input type="hidden" name="srt" value="rank" id="str"/>
        <input type="hidden" id="vid" name="vid" value="NDU"/>
        <input type="hidden" id="frbg" name="frbg" value=""/>
	<input type="hidden" id="ct" name="ct" value="facet" />
	<input type="hidden" id="fctN" name="fctN" value="facet_tlevel" />
	<input type="hidden" id="fctV" name="fctV" value="online_resources" />
	<input type="hidden" id="fctN" name="fctN" value="facet_rtype" />
	<input type="hidden" id="fctV" name="fctV" value="books"/>
        <button type="submit" class="searchbtn">Search</button>

      </fieldset>
    </form>
    <ul class="extra-links">
      <li><a href="http://www.library.nd.edu/srch-find/ebooks.shtml">e-Book collections</a></li>
      <li><a href="http://eresources.library.nd.edu/databases/googlebook">Google Books</a></li>
   </ul>
    <p class="about-tab">
      <a href="/expl/expl-ebooks.shtml">About e-Books</a>

    </p>
  </div>
  <div class="tab_site">
    <form action="http://search.nd.edu/search" method="get"  enctype="application/x-www-form-urlencoded" accept-charset="utf-8" name="myform" id="myform">
      <fieldset>
        <span class="legend">Find library resources and services</span>
        <input type="text" class="srch-box long" id="search_field"  name="q" value="" onkeydown="" accesskey="s" />
	<input type="hidden" id="proxystylesheet" name="proxystylesheet" value="lib_site_srch" />

        <input type="hidden" id="output" name="output" value="xml_no_dtd"/>
        <input type="hidden" id="client" name="client" value="lib_site_srch"/>
        <input type="hidden" id="site" name="site" value="library"/>
        <button type="submit" class="searchbtn">Search</button>
</fieldset>
	</form>

    <ul class="extra-links">
      <li><a href="http://www.library.nd.edu/about/site-index.shtml">Site Map</a></li>

   </ul>
    <p class="about-tab">
      <a href="/expl/expl-website.shtml">About Website</a>
    </p>
</div>
</div>
</td><td class="rsb"></td></tr>
<tr><td class="blb"></td><td class="btb"></td><td class="rbb"></td></tr>
</table>
</div> <!-- End #search -->

					<table class="container_table" cellspacing="0" cellpadding="0"  >
	<tr><td class="ltb"></td><td class="tpb"></td><td class="rtb"></td></tr>
	<tr><td class="lsb"></td><td class="mcont lblue_bg">
	   <div id="in_cont_wider">
              <div id="quicklinks">
				<h4>Quicklinks</h4>
             <ul class="w27pct">
               <li><a class="X-ereserves" href="https://www.library.nd.edu/reserves/ereserves/">e-Reserves</a></li>

               <li><a href="https://nd.illiad.oclc.org/illiad/IND/logon.html">Interlibrary loan</a></li>
					<li><a href="/fys/">Starting your research</a></li>
					<li><a href="/subjects">Subjects A-Z</a></li>
             </ul>

             <ul class="w39pct">
               <li><a href="/about/myaccount.shtml">MyAccounts</a>: <a href="/circulation/renewing.shtml">renew</a>, <a href="/circulation/recalls.shtml">recall books</a></li>

               <li><a href="http://eresources.library.nd.edu/databases/refworks">RefWorks</a></li>
               <li><a href="/eresources/forms/problem/index.cgi?#tab_cp">Report a problem</a></li>
					<li><a href="/eresources/forms/problem/index.cgi?#tab_fs">Request forms</a></li>
             </ul>

             <ul class="w32pct">
               <li><a href="http://eresources.library.nd.edu/databases/academicsearch">Academic Search Premier</a></li>

               <li><a href="http://eresources.library.nd.edu/databases/googlescholar">Google Scholar</a></li>
               <li><a href="/find_journals/collection/JSTOR.php#tab_ejlc">JSTOR</a></li>
               <li><a href="http://eresources.library.nd.edu/databases/webofscience">Web of Science</a></li>
					<li><a href="http://eresources.library.nd.edu/databases/worldcat">WorldCat</a></li>
             </ul>
           </div>
	  </div>

	</td><td class="rsb"></td></tr>
	<tr><td class="blb"></td><td class="btb"></td><td class="rbb"></td></tr>
</table>

<% content_for(:right_column) do %>
  <div id="gallery">
<ul id="gallery_images">
<li><a href="http://www.facebook.com/hesburghlibraries" target=""><img src="/local_images/spotlight/facebook.png"><span></span></a></li> 
<li><a href="http://www.library.nd.edu/instruction/workshops.shtml" target=""><img src="/local_images/spotlight/workshops.png"><span></span></a></li> 
<li><a href="http://guides.library.nd.edu/subject-guide/77-2011-Undergraduate-Library-Research-Award" target=""><img src="/local_images/spotlight/researchaward2012.png"><span></span></a></li> 
<li><a href="http://mathematics.library.nd.edu/about/tutors.shtml" target=""><img src="/local_images/spotlight/mathtutors.png"><span></span></a></li> 
<!--<li><a href="http://www.library.nd.edu/newsletter/032011/" target=""><img src="/local_images/spotlight/newsletter.png"><span></span></a></li> -->

<li><a href="http://www.library.nd.edu/reference/BannedBooksWeek.shtml" target=""><img src="/local_images/spotlight/bannedbooks.png"><span></span></a></li> 
</ul>
</div>
	<div id="featured-resource-wrapper" style="border:1px solid gold; background-color:#036; padding:1em; margin-bottom:1em;">
		<div id="featured-resource" style="padding:.1em;">
<a href="/instruction/potofgold/">
<img src="/local_images/pot-of-gold4.png" />
</a>
</div>
	</div>

	<div id="chat">
		<div id="chat-head">Click to Chat with a Librarian <img src="/images/blue_arrow_horiz.png" /></div>
		<div id="chat-widget">
<div class="libraryh3lp" jid="nd-ask-a-lib@chat.libraryh3lp.com">
<iframe src="http://libraryh3lp.com/chat/nd-ask-a-lib@chat.libraryh3lp.com?skin=10273&amp;theme=gota&amp;title=Ask%20a%20Librarian&amp;identity=asklib" frameborder="0" style="width: 257px; height: 300px; border: 0px inset #2a4480;"></iframe>
</div>

		</div>
	</div>
	<style type="text/css">
<!--
.style2 {font-size: x-small}
-->

</style>
<div id="hours">
<div id="todays-hours"><div id="hrs"> <strong>
<SCRIPT language="JavaScript" type="text/javascript">
<!--
// Array of day names
var dayNames = new Array("Sun","Mon","Tue","Wed","Thu","Fri","Sat");

var monthNames = new Array("Jan","Feb","Mar","Apr","May","Jun","Jul",
                 "Aug","Sep","Oct","Nov","Dec");

var dt = new Date();
var y  = dt.getYear();

// Y2K compliant
if (y < 1000) y +=1900;

document.write(dayNames[dt.getDay()] + ", " + monthNames[dt.getMonth()] + " " + dt.getDate() + ", " + y);
// -->
</SCRIPT>
</strong><br />
<strong>Open</strong>  <br />
M-F 7:30 am - 2:00 am 
<br />
Sat. 9:00 am - 2:00 am

<br />
Sun. 10:00 am - 2:00 am<br />
<br /> 
<!-- May 30, Memorial Day Library is CLOSED -->  
<!--<strong>Open 24hrs from:</strong><br />
May 4th - 13th -->

<!-- <a href="/about/hours/holidays/easter_break.shtml">Easter Break</a> -->
<!--  <a href="http://www.library.nd.edu/about/hours/holidays/july.shtml">Public Service Hours for the 4th</a><br /> -->

<a href="/about/hours/">Public Service Hours</a>
<br />
</div>

<!--<div id="calimg"><img class="calendar" src="/local_images/clock.gif" width="36" height="36" /></div> <form>
<select OnChange="location = this.options[this.selectedIndex].value">
<option value="/hours/" checked>Hesburgh (Main) Library </option>
<option value="http://architecture.library.nd.edu">Architecture Library </option>
<option value="http://artimage.library.nd.edu">Art Image Library 	</option>
<option value="/audio/">Audio/Video Center 	</option>
<option value="http://bic.library.nd.edu">Mahaffey Business Information Ctr. 	</option>
<option value="http://chemistry.library.nd.edu">Chemistry - Physics Library 	</option>
<option value="http://engineering.library.nd.edu">Engineering Library </option>
<option value="http://kkic.library.nd.edu">Kellogg/Kroc Information Center </option>
<option value="http://mathematics.library.nd.edu">O'Meara Mathematics Library </option>
<option value="http://medieval.library.nd.edu">Medieval Institute Library </option>
<option value="http://radlab.library.nd.edu">Radiation Chemistry Reading Room</option>
<option value="/rarebooks/">Rare Books & Special Collections</option>
</select>
</form> -->
</div>

</div>
  
<% end %>