/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_directory .
 *= require pagedown_bootstrap
 *= require font-awesome
*/


.text-right {
  text-align: right;
}

.controls select.span1 {
	width: 230px !important;;
}

td.span1, td.span2, td.span3, td.span4,
th.span1, th.span2, th.span3, th.span4, th.span5, th.span6, th.span7, th.span8 {
	width:auto !important;
	float: none !important;
	display: table-cell !important;
}

.table-condensed {
	overflow: visible;
	padding:0;
	margin:0;
}

.table-condensed th {
	text-align: left;
	overflow:visible;
	
}


.row {
	margin-left: 0 !important;
}
