.popover_help {
  margin-left: 4px;
}

.popover_help img {
  vertical-align: text-bottom;
}

textarea.wide,
input.wide,
select.wide {
  width: 100%;
  max-width: 100%;
}

input.autogrow {
  max-width: 100%;
}

.no-input {
  padding-top: 5px;
}

.form-inline {
  input.datepicker {
    width: 90px;
  }
}
