.new_hours_form [class*="span"] {
  line-height: 40px;
}

.editable {
  border-width: 1px;
  border-color: #bbb;
  border-style: dashed;
  padding: 12px;
  margin-bottom: 9px;
  margin-top: 0px;
  lineheight: 40px;
  text-align: left;
  width: 512px;
  display: inline-block;
}

.editable.placeholder {
  color: #BBB;
}

textarea.editable_textarea {
  max-width:535px;
  width:535px;
  height: 45px;
}

textarea.notification_textarea {
  width: 100%;
  height: 100px;
}

#posttext_form_element {
  margin-top: 10px;
  margin-bottom: 25px;
}

#posttext {
  margin-top: 10px;
  margin-bottom: 25px;
}

input.hours-day-input {
  margin-left: 30px;
}

table th.hours_display {
  min-width: 260px;
}