.hours_row { clear: both; }
.hours_day {float:left; width: 140px; }
.hours_text {float:left; }
.hours_append_text {clear: both; padding-top: .3em; padding-bottom: 1em;}
.hours_prepend_text { padding-top: .5em; padding-bottom: .3em;}
.hours_name { font-weight: bold; }
td .hours_prepend_text { padding-top: 0 }


.print_page { background-color: white; margin-bottom: 10px; float: left; color: #000000 }
.print_page h1 { color: #6600CC; text-align: center; }

.print_page { width: 300px; margin-left: 100px; border: 1px black solid; padding: 20px; }

.print_page .hours_name { text-align: center; color: #000; margin-bottom: 5px; }
.print_page .hours_day {float:none; width:100%}
.print_page .hours_text {float:none; margin-left: 40%; width: 100%; }

.print_page_footer { padding-top: 10px; font-size: .5em; text-align:center; padding-bottom: 10px;}

.print_message { padding-top: 5px; text-align: center; }

.print_page .hours_row:nth-child(even) {color: #666; }
.print_page .hours_row:nth-chilc(odd) {color: black; }




