.hours { width: 242px; margin-bottom: 1.75em; }
td .hours { margin-bottom: .25em; }
.hours h5 { text-align: center; margin-bottom: 1em; font-size: 1.1em;}
.hours dl {  margin-bottom: 1em; }
.hours p { margin-bottom: 1em;}
.hours dt { float: left;
  width: 120px;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}
.hours dd {
    margin-left: 140px;
  }

td .hours { width: 100% }
td .hours h5 { text-align: left; }
