// Color variables
$background-color: #eeeeee;
$background-shaded: #fff;
$background-light: #F0F3F4;
$font-color: #304962;
$gold: #A99A4B;
$selected: #fff;

// Size variables
$break-mobile: 480px;

// Other variables
