// Color variables
$background-color: #F8F7E9;
$background-shaded: #F2F1E3;
$background-light: #E8E7D9;
$font-color: #304962;
$gold: #A99A4B;
$selected: #EBEADC;

// Size variables
$break-mobile: 480px;

// Other variables
