
<% form_view = EmployeeUnitView.new(@employee_unit, @initiator, @unit_type_class) %>

<% content_for :modal_title do %>
Add <%= form_view.title_display %>
<% end %>


<%= form_for @employee_unit, :url => polymorphic_path([:directory, :admin, form_view.initiator_type, :employee_units], "#{form_view.initiator_type}_id".to_sym => @initiator.id, :id => @employee_unit.id), html: {:class => 'form-horizontal directory_form', :div_for_content => 'div_employee_unit' } do |f| %>

  <%= render :partial => 'form', locals: {f: f, form_view: form_view} %>

  <div class="modal-footer">
    <%= f.submit "Add To #{form_view.unit_type_display}", :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>  

<% end %>
