<h1>Edit <%= @hours.name %></h1>

<%= simple_form_for @hours, :html => {id: "new_hours_form", class: "new_hours_form"}, :url => availability_service_point_hours_exception_path(@hours.service_point, @hours) do |f| %>
    <%= render :partial => 'availability/hours/form', :locals => { :f => f } %>
<% end %>
