<% if current_user.present? %>
  <div class="pull-right logged_in_user">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <%= form_tag destroy_user_session_path(), method: :delete do %>
          <%= current_user.name %>
          <input type="submit" value="Log Out" />
        <% end %>
      </li>
    </ul>
  </div>
<% else %>
  <div class="pull-right">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <%= link_to("Log In", user_session_path())%>
      </li>
    </ul>
  </div>
<% end %>
